* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: 360px;
}

body,
html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  body,
  html {
    font-size: calc( 14px + 8 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  body,
  html {
    font-size: 22px;
  }
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1920;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.nav {
  height: 8vh;
  width: 100%;
  z-index: 999;
  background-color: white;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  position: fixed;
}

.nav .nav-container {
  height: 8vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-container .nav-logo {
  font-size: large;
  font-weight: 400;
}

.nav .nav-container .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .nav-container .nav-links ul li {
  margin: 0 8px;
}

.showcase {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: right bottom;
  background-size: cover;
}

.showcase .showcase-container {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.showcase .showcase-container img {
  width: 100%;
  -webkit-animation: onload 2s;
          animation: onload 2s;
}

@-webkit-keyframes onload {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
  }
}

@keyframes onload {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
  }
}

.why-choose-us .parallax {
  background-image: url("/img/pexels-sergio-souza-5047425.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-choose-us .about-one {
  background-color: #333;
  position: relative;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  min-height: 60vh;
  grid-gap: 5px;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.why-choose-us .about-one .box-1 {
  display: -ms-grid;
  display: grid;
  grid-row: 1fr 2fr 1fr;
}

.why-choose-us .about-one .box-1 h1 {
  text-align: center;
  color: white;
}

.why-choose-us .about-one .box-1 p {
  color: white;
}

.why-choose-us .about-one .box-2 {
  max-width: 500px;
  position: relative;
}

.why-choose-us .about-one .box-2 img {
  padding: 2rem;
  width: 100%;
  position: absolute;
}

.location {
  background-image: url("/img/268-2685522_gray-dot-map-png-transparent-png.png");
  padding: 5vh 0;
  min-height: 80vh;
}

.location .map-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.location .map-container h1 {
  padding: 5vh 0;
  font-size: 40px;
}

.location .map-container #map {
  margin: auto;
  height: 500px;
  width: 80%;
  min-width: 310px;
}

.footer {
  background-color: #2f2f2f;
  color: white;
}

.footer .main-footer {
  padding: 1rem 0;
  text-align: center;
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer .main-footer div h2 {
  margin: 1.5rem 0;
}

.footer .main-footer div ul {
  font-weight: 100;
  line-height: 2;
}

.footer .secondary-footer {
  padding: 0.2rem;
  background-color: #1a1a1a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer .secondary-footer p {
  padding: 0.5rem;
}

.footer .secondary-footer .secondary-footer-icons {
  text-align: center;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .secondary-footer .secondary-footer-icons i {
  color: gray;
}

.footer .secondary-footer p {
  color: gray;
}

.contact-form {
  background-image: url("/img/pexels-sergio-souza-5047425.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form h1 {
  color: white;
}

.contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 25px;
  background-color: rgba(2, 38, 197, 0.5);
}

.contact-form .form .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 200px) {
  .footer .secondary-footer {
    text-align: center;
  }
  .parallax {
    background-attachment: scroll;
  }
}

.contact .showcase {
  height: 50vh;
  background-image: url("/img/1.jpg");
  background-position: center;
  background-size: cover;
}

.contact .showcase h1 {
  color: white;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.contact .social-logos {
  padding: 3vh 0;
  background-color: #333;
  text-align: center;
  color: white;
}

.contact .social-logos ul {
  margin: auto;
  padding: 3vh;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .social-logos ul i {
  font-size: 20px;
}
/*# sourceMappingURL=styles.css.map */