* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #225baa;
  --clr-grey-1: #222;
  --clr-grey-2: #111;
  --grid-width-1: 320px;
  --grid-width-2: 360px;
}

html {
  min-width: 390px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-white);
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1600px;
  padding: 0 30px;
  margin: auto;
}

/* 
@import "_hamburger";
@import "_navbar";

@import "_contact"; */
.showcase {
  background: url("/img/slide04.jpg");
  height: 85vh;
}

.showcase .showcase-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
}

.showcase .showcase-wrapper h1 {
  font-size: clamp(2rem, 10vw, 6rem);
}

.showcase .showcase-wrapper hr {
  margin: 18px;
  width: 80px;
  background-color: var(--clr-blue);
  border: none;
  height: 5px;
}

.showcase .showcase-wrapper h3 {
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .showcase {
    background-position: -180px 0;
  }
}

.services .header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3rem auto;
  text-align: center;
}

.services .header h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.services .header p {
  margin: 18px 0;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.services .header hr {
  width: 120px;
  margin: auto;
  height: 4px;
  background-color: var(--clr-blue);
  border: none;
  border-radius: 4px;
}

.services .services-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--grid-width-1), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--grid-width-1), 1fr));
  margin-bottom: 5rem;
}

.services .services-container .box {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
}

.services .services-container .box svg {
  margin: 30px 0;
  width: 100px;
}

.services .services-container .box .text {
  color: #333;
}

.services .services-container .box .text p {
  margin: 24px auto;
  max-width: 280px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 300;
}

.services .services-container .box .text h3 {
  font-weight: 700;
  line-height: 24px;
  font-size: clamp(1.5rem, 2vw, 1.7rem);
}

.footer {
  color: var(--clr-white);
}

.footer .main-footer {
  background-color: var(--clr-grey-2);
  padding: 5rem 0;
}

.footer .main-footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--grid-width-2), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--grid-width-2), 1fr));
}

.footer .main-footer .wrapper .box {
  padding: 45px;
  text-align: center;
}

.footer .main-footer .wrapper .box ul {
  padding-top: 30px;
}

.footer .main-footer .wrapper .box ul li {
  padding: 8px 0;
  font-weight: 100;
}

.footer .main-footer .wrapper .box-2 li {
  text-transform: uppercase;
}

.footer .main-footer .wrapper .box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3px;
}

.footer .main-footer .wrapper .box-1 .slogan {
  margin: 12px 0;
  font-weight: 200;
}

.footer .main-footer .wrapper .box-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .main-footer .wrapper .box-1 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--clr-grey-1);
}

.footer .developer-footer {
  background-color: black;
  font-weight: 100;
}

.footer .developer-footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(var(--grid-width-2), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--grid-width-2), 1fr));
}

.footer .developer-footer .wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .developer-footer .wrapper .social .social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .developer-footer .wrapper .details {
  padding: 20px 0;
}

.footer .developer-footer .wrapper .details p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

@media screen and (max-width: 800px) {
  .footer .developer-footer .details {
    text-align: center;
  }
  .footer .developer-footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 800px) {
  .footer .developer-footer .social {
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */