.contact-form {
  background-image: url("/img/pexels-sergio-souza-5047425.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: white;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 25px;
    background-color: rgba($color: #0226c5, $alpha: 0.5);
    .input-field {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
