.nav {
  height: 8vh;
  width: 100%;
  z-index: 999;
  background-color: white;
  transition: top 0.3s;
  position: fixed;
  .nav-container {
    height: 8vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      font-size: large;
      font-weight: 400;
    }
    .nav-links {
      ul {
        display: flex;
        flex-direction: row;
        li {
          margin: 0 8px;
        }
      }
    }
  }
}
