.showcase {
  background: url("/img/slide04.jpg");
  background-size: cover;
  height: 85vh;
  .showcase-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    color: white;
    h1 {
      font-size: clamp(2rem, 10vw, 6rem);
    }
    hr {
      margin: 18px;
      width: 80px;
      background-color: var(--clr-blue);
      border: none;
      height: 5px;
    }
    h3 {
      font-size: clamp(1rem, 5vw, 3rem);
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 800px) {
  .showcase {
    background-position: -180px 0;
  }
}

@media screen and (min-width: 800px) {
  .showcase {
    background-position: center;
  }
}
