* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  user-select: none;
}
@import "variables";
@import "_font";

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: 360px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1920;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

@import "_nav";
@import "_showcase";
@import "_about";
@import "_location";
@import "_footer";
@import "_form";
@import "_media";
@import "_contact";
