* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #225baa;
  --clr-grey-1: #222;
  --clr-grey-2: #111;
  --grid-width-1: 320px;
  --grid-width-2: 360px;
}
html {
  min-width: 390px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: (var(--clr-white));
  width: 100%;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1600px;
  padding: 0 30px;
  margin: auto;
}
/* 
@import "_hamburger";
@import "_navbar";

@import "_contact"; */

@import "_showcase";
@import "_services";
@import "_footer";
